<h1><%= @user.name %>さんの面接一覧</h1>
<h2>現在の面接日程</h2>
<% if @interviews.find_by(interview_status: "approval").present? %>
  <p><%= @interviews.find_by(interview_status: "approval").interview_datetime.strftime("%Y年%m月%d日 %H時%M分") %>に面接が設定されています</p>
<% else %>
  <p>面接は設定されていません。</p>
<% end %>
<% @interviews.each do |interview| %>
  <%= form_for [@user, interview] do |f| %>
    <div>
      <%= f.hidden_field :interview_status, value: "approval" %>
      <%= f.submit(interview.interview_datetime.strftime("%Y年%m月%d日 %H時%M分"), data: {confirm: "#{interview.interview_datetime.strftime("%Y年%m月%d日 %H時%M分")}で面接日程を確定しますか？"}) %>
    </div>
  <% end %>
<% end %>
