<% if @user == current_user %>
  <h1><%= current_user.name %>さんの面接一覧</h1>
  <table>
    <thead>
      <tr>
        <th>面接開始時間</th>
        <th>承認状態</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @current_user_interviews.each do |interview| %>
        <tr>
          <td><%= interview.interview_datetime.strftime("%Y年%m月%d日 %H時%M分") %></td>
          <td><%= interview.interview_status_i18n %></td>
          <td><%= link_to '編集', edit_user_interview_path(interview.user, interview) %></td>
          <td><%= link_to '削除', user_interview_path(interview.user, interview), method: :delete, data: {confirm: '削除しますか？'} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div><%= link_to '新規作成', new_user_interview_path %></div>
<% else %>
  <h1><%= @user.name %>さんの面接一覧</h1>
  <h2>現在の面接日程</h2>
  <% if @interviews.find_by(interview_status: "approval").present? %>
    <p><%= @interviews.find_by(interview_status: "approval").interview_datetime.strftime("%Y年%m月%d日 %H時%M分") %>に面接が設定されています</p>
  <% else %>
    <p>面接は設定されていません。</p>
  <% end %>
  <% @interviews.where.not(interview_status: "approval").each do |interview| %>
    <%= form_for [@user, interview] do |f| %>
      <div>
        <%= f.hidden_field :interview_status, value: "approval" %>
        <%= f.submit(interview.interview_datetime.strftime("%Y年%m月%d日 %H時%M分"), data: {confirm: "#{interview.interview_datetime.strftime("%Y年%m月%d日 %H時%M分")}で面接日程を確定しますか？"}) %>
      </div>
    <% end %>
  <% end %>
<% end %>
