<nav>
  <ul class="nav nav-tabs">
    <% if user_signed_in? %>
      <li>
        <%= link_to "ホーム", root_path %>
      </li>
      <li>
      <%# binding.pry %>
        <%= link_to "プロフィール", edit_user_path(current_user) %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "ホーム", root_path %>
      </li>
      <li>
        <%= link_to "会員登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
  </ul>
</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>